<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <h2 class="title">Bienvenidos a Fashion Me, tu asesor de imagen personal.</h2>
  </div>
  <p>
    En Fme concerás tu tipo de cuerpo así como los colores que son los ideales para ti y con esta información podermos
    armar closet ideal, único e irrepetible pra que puedas armar los mejores looks dependiendo de tus características.
  </p>
  <p>
    Te daremos los mejores tips de cómo vestirte y siempre tendrás un look para cada acasión, aprenderás a utilizar
    todas las
    prendas
    que tienes en tu closet y siempre sacarte el mejor provecho.
  </p>
  <p>
    De acuerdo a tus resultados te presentaremos un closet ideal para que armes outfits perfectos para ti, estas prendas
    las
    podrás adquirir y empezarás a crear un nuevo hábito de compra de acuerdo a tus propias características para verte
    siempre
    fenomenal.
  </p>
  <p>
    Conocerás todas las tendencias, códigos de vestimentas y tips para siempre estar cómoda y a la moda con tu ropa ya
    que sólo te pondrás lo que mejor te queda de ahora en adelante !!!
  </p>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <button ion-button color="dark" (click)="dismiss()" block>Siguiente</button>
  </ion-toolbar>
</ion-footer>
