page-photo {
	.log-out{
		color: #ffffff;
	}
	.log-out:hover{
		color: #F2576D !important;
	}

	#position{
		width: auto;
		height: auto;
	}

	.imgDemo{
		border: 1px solid #DAE5EC;
		width: 100%;
		height: 90%; 
     	background-image: url('../image/body.png');
		background-repeat: no-repeat;
		background-position: center;
	   	text-align: center;
	   	background-size: contain;
	}

	.imgUser{
		border: 1px solid #DAE5EC;
		width: 100%;
		height: 90%; 
	   	text-align: center;
	}

	div .medidas{
		text-align: left;
		border: 1px solid;
	}

}
