<ion-content padding>
	<button ion-button color="dark" block (click)="presentActionSheet()" icon-left>
    <ion-icon name="camera"></ion-icon>
    {{ image == null ? 'Imagenes' : 'Cambiar imagen'}}
  </button>

	<div id="position" *ngIf="image; else imgDemo" class="imgUser">
		<img [src]="image" (tap)="getPosition($event)" />
	</div>

	<ng-template #imgDemo>
		<div class="imgDemo" #pointsImage (click)="presentActionSheet()">
		</div>
	</ng-template>

	<button ion-button color="dark" block [disabled]="image ? false : true" (click)="getStart()">Continuar</button>
</ion-content>
