page-register {

	ion-item{
		margin: 15px;
	}

	#actions{
		text-align: right;
		margin: 15px;
	}

	.errors{
		font-size: 10px;
		color: red;
	}

	.errorName{
		font-size: 13px;
		color: red !important;
		margin:  0 !important;
		padding-left: 16px;
	}
}
