<!-- <ion-header>
  <ion-toolbar color="dark">
    <ion-title>Fashionme</ion-title>
    <ion-buttons end>
      <button ion-button icon-only  (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content>
	<ion-tabs color="light" [selectedIndex]="index">
		<ion-tab tabIcon="home" [root]="tab1Root"></ion-tab>
		<ion-tab [tabIcon]="icon" [root]="tab2Root" #changeIcon id="icon"></ion-tab>
	</ion-tabs>
</ion-content>
