<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div text-wrap>
    <h2>Tus resultados son:</h2>
    <img *ngIf="color != null" [src]="color">
    <p>
      Estos son tus colores ideales.
    </p>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <button ion-button color="dark" (click)="dismiss()" block>Siguiente</button>
  </ion-toolbar>
</ion-footer>