<ion-header>
  <ion-navbar>
    <ion-title>Categorías</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="grid-basic-page">

  <ion-item-group *ngIf="categorias[0] else noCat">
    <ion-item *ngFor="let categoria of categorias" (click)="getSubCat(categoria.id, categoria.categoria)">
      <!-- <ion-avatar item-start>
        <img [src]="categoria.imgen">
      </ion-avatar> -->
      <h2>{{ categoria.categoria }}</h2>
    </ion-item>
    <ng-template #noCat>
      <ion-item>
      <h2>No hay categorías.</h2>
      </ion-item>
	  </ng-template>
  </ion-item-group>

</ion-content>