<ion-header>

  <ion-navbar color="dark">
    <ion-title>Especificaciones de tu cuerpo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
        
    <ion-item>
      <ion-checkbox color="dark"></ion-checkbox>
      <ion-label>Piernas cortas - Torso largo</ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox color="dark"></ion-checkbox>
      <ion-label>Piernas largas - Torso Corto</ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox color="dark"></ion-checkbox>
      <ion-label>Caderas anchas</ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox color="dark"></ion-checkbox>
      <ion-label>Talle corto</ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox color="dark"></ion-checkbox>
      <ion-label>Cuello corto</ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox color="dark"></ion-checkbox>
      <ion-label>Brazos delgados</ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox color="dark"></ion-checkbox>
      <ion-label>Brazos llenos</ion-label>
    </ion-item>
    
    <ion-item  item-end >
      <ion-checkbox color="dark"></ion-checkbox>
      <ion-label>Busto prominente</ion-label>
    </ion-item>

  </ion-list>

    <button ion-button block color="dark"[navPush]="rootPage">
      Continuar
    </button>


</ion-content>
