<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Tipo de cuerpo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <div class="bodyImage">
      <img [src]="img" />
    </div>

    <ion-card-content>
      <h1>
        Tu tipo de cuerpo es <strong>{{ cuerpo }}</strong>.
      </h1>
    </ion-card-content>

    <ion-item>
      <button ion-button block color="dark" outline item-end [navPush]="rootPage">
        Continuar
      </button>
    </ion-item>
  </ion-card>

</ion-content>