page-modal-image {

    ion-card img {
        margin: 0 auto;
        width: auto !important;
        height: 100;
    }

    ion-buttons[start] {
        order: 3;
    }

    #btn-cart {
        border-top: 1px solid #E8E8E8;
    }
}
