 <ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <img [src]="img"/>
    <ion-row>
      <ion-col id="btn-cart">
        <button ion-button color="dark" block outline icon-right>
          Comprar
          <ion-icon name='cart'></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left block outline left (click)="addFavorite(id)">
          <ion-icon name="star-outline"></ion-icon>
          <div>Favorito</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>


</ion-content>
