<ion-header>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="closet" color="dark">
      <ion-segment-button value="ideal">
        Mi closet ideal
      </ion-segment-button>
      <ion-segment-button value="fm">
        Fashionme closet
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="closet">
    <div *ngSwitchCase="'ideal'">
      <ion-nav [root]="rootPage1" [rootParams]="{param: 1}"></ion-nav>
    </div>

    <div *ngSwitchCase="'fm'">
      <ion-nav [root]="rootPage2" [rootParams]="{param: 2}"></ion-nav>
    </div>
  </div>
</ion-content>