<ion-header>
  <ion-navbar>
    <ion-title>{{ nombre }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="grid-basic-page">

  <ion-list *ngIf="images[0] else noImg">

    <ion-item *ngFor="let image of images" (click)="openImage(image.imagen, image.nombre, image.id)">
      <ion-thumbnail item-start>
        <img [src]="image.imagen">
      </ion-thumbnail>
      <h2>{{ image.nombre }}</h2>
      <p>{{ image.comentario }}</p>
      <button ion-button clear item-end color="dark">
        <ion-icon name="eye"></ion-icon>
      </button>
    </ion-item>

  </ion-list>
  <ng-template #noImg>
    <ion-list>
      <ion-item>
        <h2>No hay imágenes para mostrar.</h2>
      </ion-item>
    </ion-list>
  </ng-template>


</ion-content>
