<ion-header>

  <ion-navbar color="dark">
    <ion-title>Colorimetria</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <form [formGroup]="formC" (ngSubmit)="enviarFormulario()">
    
    <ion-label text-wrap>¿Tienes amarillo en el iris de tus ojos?</ion-label>
    <ion-list radio-group formControlName="ojos_tinte">
      <ion-item col-6>
        <ion-label>Si</ion-label>
        <ion-radio value="c" ngDefaultControl></ion-radio>
      </ion-item>
      <ion-item col-6>
        <ion-label>No</ion-label>
        <ion-radio value="f"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-label text-wrap>¿Tus ojos tienen luz ( amarillo, blanco, colores claros )?</ion-label>
    <ion-list radio-group formControlName="ojos_valor">
      <ion-item col-6>
        <ion-label>Si</ion-label>
        <ion-radio value="c"></ion-radio>
      </ion-item>
      <ion-item col-6>
        <ion-label>No</ion-label>
        <ion-radio value="o"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-label text-wrap>¿Tus ojos tienen un mismo color por completo?</ion-label>
    <ion-list radio-group formControlName="ojos_croma">
      <ion-item col-6>
        <ion-label>Si</ion-label>
        <ion-radio value="b"></ion-radio>
      </ion-item>
      <ion-item col-6>
        <ion-label>No</ion-label>
        <ion-radio value="s"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-label text-wrap>¿Tu cara se broncea en un tono rojizo?</ion-label>
    <ion-list radio-group formControlName="piel_tinte">
      <ion-item col-6>
        <ion-label>Si</ion-label>
        <ion-radio value="c"></ion-radio>
      </ion-item>
      <ion-item col-6>
        <ion-label>No</ion-label>
        <ion-radio value="f"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-label text-wrap>¿Tu piel es blanca, marfil o rosada en el rostro?</ion-label>
    <ion-list radio-group formControlName="piel_valor">
      <ion-item col-6>
        <ion-label>Si</ion-label>
        <ion-radio value="c"></ion-radio>
      </ion-item>
      <ion-item col-6>
        <ion-label>No</ion-label>
        <ion-radio value="o"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-label text-wrap>¿Tienes manchas, acné marcado o cicatrices en la piel de tu rostro?</ion-label>
    <ion-list radio-group formControlName="piel_croma">
      <ion-item col-6>
        <ion-label>Si</ion-label>
        <ion-radio value="s"></ion-radio>
      </ion-item>
      <ion-item col-6>
        <ion-label>No</ion-label>
        <ion-radio value="b"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-label text-wrap>¿El color de tu cabello tiene tonos amarillos o naranja?</ion-label>
    <ion-list radio-group formControlName="cabello_tinte">
      <ion-item col-6>
        <ion-label>Si</ion-label>
        <ion-radio value="c"></ion-radio>
      </ion-item>
      <ion-item col-6>
        <ion-label>No</ion-label>
        <ion-radio value="f"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-label text-wrap>¿Tu color de cabello tiene tonos más rubios o naranjas que otro color?</ion-label>
    <ion-list radio-group formControlName="cabello_valor">
      <ion-item col-6>
        <ion-label>Si</ion-label>
        <ion-radio value="c"></ion-radio>
      </ion-item>
      <ion-item col-6>
        <ion-label>No</ion-label>
        <ion-radio value="o"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-label text-wrap>¿El color de tu cabello es de un solo tono?</ion-label>
    <ion-list radio-group formControlName="cabello_croma">
      <ion-item col-6>
        <ion-label>Si</ion-label>
        <ion-radio value="b"></ion-radio>
      </ion-item>
      <ion-item col-6>
        <ion-label>No</ion-label>
        <ion-radio value="s"></ion-radio>
      </ion-item>
    </ion-list>
    
    <button ion-button color="dark" block  type="submit" [disabled]="!formC.valid">Enviar</button>
  </form>

</ion-content>