<ion-header>

  <ion-navbar>
    <ion-title>Trends</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h1>{{ resp.titulo }}</h1>
  <p [innerHTML]=resp.contenido></p>

</ion-content>
